div {
    width: 720px;
    margin: 0 auto;
}

.tooltip {
    width: auto;
    opacity: 0;
    position: absolute;
    border-width: .035em;
    border-radius: 1px;
    border: solid;
    background-color: white;
    padding: 5px;
}

.center {
    margin: auto;
    width: 640px;
    /* border: 1px solid black; */
    text-align: center;
}